/*font-family*/

p{
	font-family: Ma Shan Zheng;
}

h1{
	font-family: Ma Shan Zheng;
}

/*font-size*/

body{
	font-size: 10px;
}
h1{
	font-size: 5.0em;
}
p{
	font-size: 40px;
}

span{
	font-size: 2.0em
}

/*font-weight*/
/* 
p{
	font-weight: 100; 
} */

/* line-height*/

p{
	line-height: 1.5;
}

/*text-align*/
h1{
	text-align:center;
}

p{
	text-align:left;
}

/*text-decoration*/

/* h1{
	text-decoration: line-through;
}

p{
	text-decoration:underline; */
}


