 
h1{
    text-align:center;
}

table{
   margin: 0 auto 0 auto
} 
td{
    width: 100px;
    height: 100px; 
    
}

.middleColumn{
    border-left: black solid 2px;
    border-right: black solid 2px;
    
}

#middleRow td{
    border-top: black solid 2px;
    border-bottom: black solid 2px; 
   
}